<div id="recipe_edit_view" style="display: block;">
  <form class="form-vertical">
    <div class="control-group">
      <label for="title">Title</label>
      <input name="title" ng-model="recipe.title" type="text">
    </div>
    <div class="control-group">
      <label for="description">Description</label>
      <textarea name="description" ng-model="recipe.description"></textarea>
    </div>
    <div class="form-actions">
      <input type="submit" class="btn primary" value="Save" ng-click="saveRecipe()">
      <input type="button" class="btn" value="Cancel">
    </div>
  </form>
</div>